:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(223, 221, 221);
    ---border-color: rgb(196, 196, 196);
}

.pos-page{
    min-height: 90vh;
}

.pos-top-bar{
    background-color: white;
}


.pos-display-flex{
    display: flex;
    padding: 0 20px 0 20px;
}

.pos-flex-justify-between{
    justify-content: space-between;
}

.pos-flex-justify-center{
    justify-content: space-around;
}

.pos-align-self-center{
    align-self: center;
}

.pos-flex-column{
    flex-direction: column;
}

.pos-flex-end{
    align-self: baseline;
    margin-top: auto;
}

.pos-display-flex.pos-flex-center > *{
    align-self: center;
}

.pos-flex-fill{
    flex-grow: 1;
}

.form-group{
    padding:10px auto;
    margin-bottom: 20px;
}

.form-group input, .form-group select{
    padding:10px;
    border:1px solid var(---border-color);
    /* width: calc(100% - 25px); */
    display: block;
}

.form-group label{
    padding:10px 0;
    display: block;
}

.pos-btn{
    text-decoration: none;
    padding: 5px 10px;
    color:black
}

.pos-btn-primary{
    background-color: var(--primary-color);
}

.pos-btn-secondary{
    background-color: var(--secondary-color);
}

a.pos-btn{
    color: black !important;
}

a.pos-btn:active{
    color: rgb(36, 36, 36);
}

.pos-padding-0{
    padding:0 !important;
}

.pos-margin-0{
    margin:0 !important;
}

.pos-margin-5{
    margin:5 !important;
}

.pos-padding-5{    
    padding:5px;
}

.pos-padding-10{    
    padding:10px;
}

.pos-modal{
    display: flex;
    flex-direction: column;
    height: 93.2%;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 100;
    justify-content: center;
}

.pos-modal-content{
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 50px;
    background: white
}

.pos-modal-footer{
    margin-top: auto;
    align-self:baseline
}

.pos-close{
    float:right
}

.pos-w-10{
    width: 10%;
}

.pos-w-20{
    width: 20%;
}

.pos-w-30{
    width: 30%;
}

.pos-w-40{
    width: 40%;
}

.pos-w-50{
    width: 50%;
}

.pos-w-60{
    width: 60%;
}

.pos-w-70{
    width: 70%;
}

.pos-w-80{
    width: 80%;
}

.pos-w-90{
    width: 90%;
}

.pos-w-100{
    width: 100%;
}

.pos-table{
    width: 100%;
}

.pos-table thead td{
    padding: 10px;
}

.pos-table thead th{
    padding: 10px;
    border-bottom: 3px solid black;
    border-spacing: 0;
    text-align: left;
}

.pos-table tbody td{
    padding: 10px;
}

.pos-table.pos-table-striped tbody tr:nth-child(odd) td {
    background-color: rgb(214, 214, 214);
}

.pos-table.pos-table-striped tbody tr:nth-child(even) td {
    background-color: white;
}

.pos-card{
    background: white;
    border-radius: 10px;
}

.pos-card .pos-card-header{
    padding: 20px 20px 0 20px;
}

.pos-card .pos-card-body{
    padding: 0 20px;
}

.pos-card .pos-card-footer{
    padding: 0 20px 20px 20px;
}

hr{
    border:none;
    border-bottom: 1px solid  var(---border-color);
}

.pos-border{
    border: 1px solid red;
}