@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url("./assets/css/style.css");

body, html{
    font-size: 14px;
    background-color: rgb(224, 224, 224);
    padding: 0;
    margin: 0;
    font-weight: normal;
}

*{
    font-family: 'Montserrat', sans-serif !important;
    color: black !important;
}

#items-added{
    background-color: white;
    padding: 30px;
}

#products{
    padding: 30px;
}

#user, #signOutBtn{
    display: none;
}

#items-added{
    height: 450px;
    overflow: hidden;
    overflow-y: auto;
}